* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Georgia, serif;    
    height: 100vh;
    background-image: url("pantryplannerbackground.png");
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 100px #cccccc;
}

.top-left {
    position: relative;
    width: 85%; 
    left: 20px;
}

.top-left h1 {
    font-size: 110px;
    color: #333;
    margin-bottom: 20px;
    width: 85%;
}

.top-left h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    width: 85%;
    font-family: Arial, sans-serif;
}

.input-container {
    display: flex;
    align-items: center;
    width: 20%;
    position: relative;
}

.textbox {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #333;
    border-radius: 8px 8px 8px 8px;
    border-right: none;
    transition: opacity 0.3s ease;
}

.submit-btn {
    width: 60px;
    height: 50px;
    background-color: #4a4a4a;
    border: 2px solid #333;
    border-radius: 0 8px 8px 0;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.submit-btn:hover {
    width: 100%;
    border-radius: 8px;
    background-color: #333;
}

.input-container:hover .textbox {
    opacity: 0.5; /* Adjust as needed */
}



.bottom-right {
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.bottom-right a {
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.bottom-right a:hover {
    text-decoration: underline;
}

/* Start http://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/games/gam-14/gam1379.ani), url(http://cur.cursors-4u.net/games/gam-14/gam1379.png), auto !important;} /* End http://www.cursors-4u.com */
/*This is the cursor, can obtain from link above*/