<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Generator</title>
    <link rel="stylesheet" href="\..\static\css\style.css">
</head>
<body>

    <div class="top-left">
        <h1>input ingredients.</h1>
        <h1>get recipes.</h1>
        <div class="input-container">
            <input type="text" placeholder="Enter ingredients" class="textbox">
            <button class="submit-btn">&#9654;</button>
        </div>
    </div>

    <div class="bottom-right">
        <a href="#">learn more</a>
    </div>

</body>
</html>
