<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link rel="stylesheet" href="\..\static\css\recipes_style.css">
</head>
<body>
    <div class="container">

        <a href="{{ url_for('index') }}" class="back-button">back</a>

        <ul class="list">
            <li class="item"><div class="content">Item 1</div></li>
            <li class="item"><div class="content">Item 2</div></li>
            <li class="item"><div class="content">Item 3</div></li>
            <li class="item"><div class="content">Item 4</div></li>
            <li class="item"><div class="content">I'm gonna touch you</div></li>
        </ul>
    </div>
</body>
</html>
